<!-- mysite/todo/templates/todo/task_list.html -->

<!DOCTYPE html>
<html>
<head>
    <title>Todo List</title>
</head>
<body>
    <h1>Todo</h1>

    {% if user.is_authenticated %}
    <p>Logged in as {{ user.username }} | <a href="{% url 'logout' %}">Logout</a></p>
    {% else %}
    <a href="{% url 'login' %}">Login</a>
    {% endif %}


    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">{% if editing %}Update Task{% else %}Add Task{% endif %}</button>
    </form>

    <hr>

    <p>Filter:
    <a href="{% url 'task_list' %}">All</a> |
    <a href="?status=completed">Completed</a> |
    <a href="?status=incomplete">Incomplete</a>
    </p>

    <ul>
        {% for task in page_obj %}
            <li>
                {{ task.title }} {% if task.completed %}(Done){% endif %}
                <a href="{% url 'edit_task' task.id %}">Edit</a>
                <a href="{% url 'delete_task' task.id %}">Delete</a>
            </li>
        {% empty %}
            <li>No tasks yet!</li>
        {% endfor %}
    </ul>
    <div>
    {% if page_obj.has_previous %}
        <a href="?page=1{% if status %}&status={{ status }}{% endif %}">First</a>
        <a href="?page={{ page_obj.previous_page_number }}{% if status %}&status={{ status }}{% endif %}">Previous</a>
    {% endif %}

    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}

    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}{% if status %}&status={{ status }}{% endif %}">Next</a>
        <a href="?page={{ page_obj.paginator.num_pages }}{% if status %}&status={{ status }}{% endif %}">Last</a>
    {% endif %}
    </div>
</body>
</html>
